@charset "utf-8";
/*CSS Document */
p{
	font-family:;
	color:#d0462f;
	background-color:antiquewhite;
	font-size:16px;
	line-height:18px;
	width:600px;
	padding:20px;
	
	

}

li{font-family:;
	color:#d0462f;
	background-color:antiquewhite;
	font-size:16px;
	line-height:px;
	width:160px;
	padding:20px;}
}	
ul{
	}
h5{font-family:;
	color:#d0462f;
	background-color:antiquewhite;
	font-size:16px;
	line-height:18px;
	width:125px;
	padding:20px;
	
}
h1{font-family:;
	color:#d0462f;
	background-color:antiquewhite;
	font-size:20px;
	line-height:23px;
	width:800px;
	
	padding:px;}
h3{font-family:;
	color:;
	background-color:#F5F5DC;
	font-size:16px;
	line-height:18px;
	width:170px;
	padding:20px}
h4{font-family:;
font-family:;
	color:antiquewhite;
	background-color:red;
	font-size:16px;
	line-height:18px;
	width:6px;
	padding:20px}
h6{font-family:;
font-family:;
	color:#d0462f;
	background-color:antiquewhite;
	font-size:16px;
	line-height:18px;
	width:90x;
	padding:20px}

	
body{background-color:#d0462f}

	a{font-family:;
	color:#d0462f;
	background-color:antiquewhite;
	font-size:16px;
	line-height:18px;
	width:600px;
	padding:20px;
	}
	
	a{font-family:;
	color:#d0462f;
	background-color:#blue;
	font-size:16px;
	line-height:18px;
	width:130px;
	padding:20px;}
	
	h4{font-family:Untiltled1;
	color:#d0462f;
	background-color:#F5F5DC;
	font-size:16px;
	line-height:18px;
	width:170px;
	padding:20px}